h1,h2{
    color: whitesmoke;
    text-align: center;
    background-color: black;
    margin: 0%;
}

body{
    background-image: url(./LF.png);
}

#image{
    padding: 50px;
    padding-left: 500px;
    align-items: center;
    background-color: whitesmoke;
}

h3{
    text-align: center;
}

#content{
    color: antiquewhite;
    text-align: center;
    background-color: black;
    margin: 0%;
    padding-top: 0%;
}

#ranking{
    color: antiquewhite;
    text-align: center;
    background-color: black
}