h1,h2{
    text-align: center;
    background-color: purple;
    margin: 0%;
}

body{
    background-image: url(./EH.png);
}

#image{
    padding: 50px;
    padding-left: 500px;
    align-items: center;
    background-color: blueviolet;
}

#content{
    text-align: center;
    background-color: purple;
    margin: 0%;
    padding-top: 0%;
}

#ranking{
    text-align: center;
    background-color: blueviolet;
}