h1,h2{
    text-align: center;
    background-color: blue;
    margin: 0%;
}

body{
    background-image: url(./FROOT.png);
}

#image{
    padding: 50px;
    padding-left: 500px;
    align-items: center;
    background-color: red;
}

#content{
    text-align: center;
    background-color: blue;
    margin: 0%;
    padding-top: 0%;
}

#ranking{
    text-align: center;
    background-color: red;
}